.typekit #battle .timer .card .number {
    font-size: 70px;
    line-height: 60px;
    padding-top: 8px;
}

.typekit #battle .timer .card .type {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

#battle .timer.loaded .card .number {
    opacity: 1;

    -webkit-transform: scale(1) translate(0, 0);
            transform: scale(1) translate(0, 0);

    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
}

#battle .timer .card.hours .number {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
}

#battle .timer .card.minutes .number {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

#battle .timer .card.seconds .number {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
}

@-webkit-keyframes timer-spinner {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes timer-spinner {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
#battle .spinner .timer-spinner {
    height: 85px;
    opacity: 0.5;
    overflow: hidden;
    width: 200px;

    -webkit-transform: scale(0.6);
            transform: scale(0.6);
}
#battle .spinner .timer-spinner > div {
    background: #747499;
    border-radius: 6px;
    height: 40px;
    left: 94px;
    position: absolute;
    top: 80px;
    width: 12px;
}
#battle .spinner .timer-spinner > div:nth-of-type(1) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
#battle .spinner .timer-spinner > div:nth-of-type(2) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: -0.4166666666666667s;
    animation-delay: -0.4166666666666667s;
}
#battle .spinner .timer-spinner > div:nth-of-type(3) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: -0.33333333333333337s;
    animation-delay: -0.33333333333333337s;
}
#battle .spinner .timer-spinner > div:nth-of-type(4) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}
#battle .spinner .timer-spinner > div:nth-of-type(5) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: -0.16666666666666669s;
    animation-delay: -0.16666666666666669s;
}
#battle .spinner .timer-spinner > div:nth-of-type(6) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: -0.08333333333333331s;
    animation-delay: -0.08333333333333331s;
}
#battle .spinner .timer-spinner > div:nth-of-type(7) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#battle .spinner .timer-spinner > div:nth-of-type(8) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: 0.08333333333333337s;
    animation-delay: 0.08333333333333337s;
}
#battle .spinner .timer-spinner > div:nth-of-type(9) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: 0.16666666666666663s;
    animation-delay: 0.16666666666666663s;
}
#battle .spinner .timer-spinner > div:nth-of-type(10) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}
#battle .spinner .timer-spinner > div:nth-of-type(11) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: 0.33333333333333337s;
    animation-delay: 0.33333333333333337s;
}
#battle .spinner .timer-spinner > div:nth-of-type(12) {
    -webkit-animation: timer-spinner 1s linear infinite;
    animation: timer-spinner 1s linear infinite;
    -webkit-animation-delay: 0.41666666666666663s;
    animation-delay: 0.41666666666666663s;
}
