body.loading .hidden-prior-to-loading {
    display: none !important;
}

body.loaded .shown-prior-to-loading {
    display: none !important;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-duration: 2s;
    animation-name: fadeIn;
}

.isotope {
    clear: both;
    position: relative;
    min-height: 240px;
}
